@charset "UTF-8";

/* layout */
#header{
    background: skyblue;
    height: 100px;
    margin-bottom: 20px;
}

.header_inner{
    width: 1000px;
    font-size: 100px;
    text-align: center;
    margin: 0 auto;
}
#logout{
    height: 20px;
    border-bottom: 1px solid;
    border-top: 1px solid;
}

#footer{
    height: 100px;
    background: #eee;
}

.footer_inner{
    width: 1000px;
    margin: 0 auto;
    background: #fff;
}

#content{
    background: #eee;
    width: 1000px;
    margin: 20px auto 20px auto;
}

.section_main{
    width: 700px;
    background: #ff0;
    float: left;
}

.aside{
    width: 300px;
    background: #f00;
    float: left;
    height: 600px;
}

.section{
    background: #f0f;
    height: 300px;
}


.article{
    background: green;
    height: 300px;
}